@import "https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap";

body {
  margin: 0;
  background: #eae7dc;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

#title-names {
  color: #e85a4f;
  margin: 30px;
}

#desc {
  color: #8e8d8a;
}

#navbar {
  background-color: #d8c3a5;
  padding: 15px;
  text-align: left;
}

#navbar a {
  color: #000;
  text-decoration: none;
  margin: 10px;
  padding: 5px;
}

/* About Section */

#about .about container,
#about2 .about container {
    /*flex-direction: column-reverse;
    text-align: center;
    max-width: 559px;
    margin: 0 auto;
    padding: 100px 20px;
    margin-left: 140px;*/
    display: flex;
    width: 50%;
}
#about .about-header h1,
#about2 .about-header h1  {
    margin-bottom: 50px;
    color: black;
    text-align: center;
    align-items: end;
}
#about .about-person,
#about2 .about-person {
    flex: 1;
    /*border: 2px solid blueviolet;*/
    margin: 10px;
    max-width: 559px;   
  }
  
#about .about-person:first-child,
#about2 .about-person:first-child {
    margin-right: 20px;
  }

#about .col-left,
#about2 .col-left {
    width: 250px;
    height: 360px;
    margin-left: auto;
    margin-right: auto;
}

#about .col-right,
#about2 .col-right {
    width: 100%;
}

#about .col-right h2,
#about2 .col-right h2 {
    font-size: 2.0rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    margin-bottom: 10px;
    text-align: center;
    color: black;  
}

#about .col-right p,
#about2 .col-right p {
    margin-bottom: 20px;
    color: black;
    text-align: center;
    /*smallest text*/
}

#about .col-right .cta,
#about2 .col-right .cta {
    color: black;
    margin-bottom: 50px;
    padding: 10px 20px;
    font-size: 2rem;
}

#about .col-left .about-img,
#about2 .col-left .about-img  {
    height: 100%;
    width: 100%;
    position: relative;
    border: 10px solid white;
    /*margin-bottom: 50px; did nothing */
}

#about .col-left .about-img::after,
#about2 .col-left .about-img  {
    content: '';
    position: absolute;
    left: -22px; /*was-33*/
    top: 14px; /*was19*/
    height: 98%;
    width: 98%;
    border: 7px solid black;
    /*box around img*/
    z-index: -1;
    /*margin-bottom: 50px; did nothing*/
    /*margin-left: auto;
    margin-right: auto; did nothing */
}


/* End About Section */