@import "https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap";

body {
  margin: 0;
  background: #eae7dc;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

#title-names {
  color: #e85a4f;
  margin: 30px;
}

#desc {
  color: #8e8d8a;
}

#navbar {
  background-color: #d8c3a5;
  padding: 15px;
  text-align: left;
}

#navbar a {
  color: #000;
  margin: 10px;
  padding: 5px;
}
